<html>

<ul id="links">
  <h3>Bookmarks List</h3>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <%= link.tags %>
    </li>
  <% end %>
</ul>

</html>
