<html>
	Welcome <%=current_user.email%>!

<ul id="links">
  <h3>Bookmarks List</h3>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags:  <% link.tags.each { |tag| %><%=tag.name%> <% }%>
    </li>
  <% end %>
</ul>

</html>
