<form method="post" action="/links">
  <input type='text' value='title' name='title'>
  <input type='text' value='url' name='url'>
  <input type='text' value='tags' name='tags'>
  <input type='submit' value='submit'>
</form>
